#container {
  padding: 20px;
}

.torrents .item .category {
  font-size: 10px
}

.torrents .main .name {
  font-weight: bolder
}

.torrents .main .caption span {
  font-size: 12px;
  color: #888;
  padding-right: 20px;
}

.torrent-status .name {
  font-weight: bolder
}
